{% extends "layout.html" %}
{% block title %}
<title>PropSurance - | Submit Case </title>
{% endblock %}

{% block css %}    
<link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/current_user.css') }}">
{% endblock %}

{% block dashlink_current_pg %}
PropSurance FAQ 
                  {% endblock %}

{% block dashlinks %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('home') }}">Home</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('dashboard') }}"> PropSurance <br> Dashboard</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('logout') }}#faq">Logout</a></li>
<li role="presentation" class="divider"></li>



<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('view_firm_reports') }}">Reported Firms </a></li>  
<li role="presentation" class="divider"></li>

<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('propsurance_service') }}">Terms of Service </a></li>   
<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('propsurance_terms') }}">Privacy Policy </a></li>   
<li role="presentation" class="divider"></li> 

<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/PropPatrol" target="_blank"> Twitter</a></li> 
<li role="presentation"><a role="menuitem" tabindex="-1" href="https://mailto:support@proppatrol.net" target="_blank"> Contact Us</a></li> 
{% endblock %}

{% block content %}


<main class="content-main" id="faq-info">
   

        <h2 class="stage-pass">General FAQ</h2>

        <div   class="board-cont ticket-border rate-id">
            <div class="rate-flex">
                <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
              
                <div id="cover-text-div">
                <p id="rate-header">General</p>
                <p class="header-text-board">
                    What is <span class="propsurance-color">  PropSurance? </span>
                </p>
            
           
    
            <ul class="coverage-ul">
    
                <p class="coverage-p">
                   Propsurance is a service provider that guarantees the rightful withdrawal of your trading profits through prop firms, in the event it is unrightfully rejected.
                </p>
            </ul>
    
   
            </div>
            </div>
            </div>


            <div   class="board-cont ticket-border rate-id">
                <div class="rate-flex">
                    <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                  
                    <div id="cover-text-div">
                    <p id="rate-header">General</p>
                    <p class="header-text-board">
                        How does <span class="propsurance-color"> PropSurance</span> work?
                    </p>
                
               
        
                <ul class="coverage-ul">
        
                    <p class="coverage-p">
                        In light of the prevailing dishonesty within the industry, Propsurance offers traders a guarantee that their hard-earned profits will be safely secured. With your Propsurance plan, you will be reimbursed—fully or partially—for any unjustly withheld payouts from our approved firms.
                    </p>
                </ul>
       
                </div>
                </div>
                </div>

                <div   class="board-cont ticket-border rate-id">
                    <div class="rate-flex">
                        <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                      
                        <div id="cover-text-div">
                        <p id="rate-header">General</p>
                        <p class="header-text-board">
                            Can I insure an account whose<span class="propsurance-color"> Payout was already rejected? </span> 
                        </p>
                    
                   
            
                    <ul class="coverage-ul">
            
                        <p class="coverage-p">
                            No, we do not allow an account to be insured retroactively before registering it with Prop Patrol. This is because the account was not insured at the time the payout was rejected, so it is not eligible for insurance. Additionally, if you insure a new account and experience a rejected payout, You must inform us of any rejected payouts only after the initial 30-day threshold period has passed following the insurance of your new account.
                        </p>
                    </ul>
           
                    </div>
                    </div>
                    </div>


                


<div   class="board-cont ticket-border rate-id">
    <div class="rate-flex">
        <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
        
        <div id="cover-text-div">
        <p id="rate-header">General</p>
        <p class="header-text-board">
            What types of <span class="propsurance-color"> Plans</span> are available?
        </p>
    
    

    <ul class="coverage-ul">

        <p class="coverage-p" href="{{url_for('dashboard')}}">
            Based on their extensive case history and the valuation of your account with the firm, PropPatrol customizes pricing to align with their reputation. Navigate to the Pricing  dashboard  for more info.
        </p>
    </ul>


    </div>
    </div>
    </div>

    <div class="board-cont ticket-border rate-id">
        <div class="rate-flex">
            <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
            
            <div id="cover-text-div">
            <p id="rate-header">General</p>
            <p class="header-text-board">
                What's my <span class="propsurance-color"> Maximum Allocated</span> Account Amount?
            </p>
        
        

        <ul class="coverage-ul">

            <p class="coverage-p" href="{{url_for('dashboard')}}">
                The maximum allocated account amount is $200,000. This means you can insure your trading accounts across different firms, as long as the total guaranteed amount doesn't exceed $200,000 For example:  You can purchase a $50,000 insurance plan for an account at one firm and still be eligible for a separate $150,000 account at another firm, totaling $200,000 in coverage.
            </p>
        </ul>

    
        </div>
        </div>
        </div>

    <div   class="board-cont ticket-border rate-id">
        <div class="rate-flex">
            <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
            
            <div id="cover-text-div">
            <p id="rate-header">General</p>
            <p class="header-text-board">
                What is my <span class="propsurance-color"> Investor Password & ID?   </span>
            </p>
        
        

        <ul class="coverage-ul">

            <p class="coverage-p">
                Your investor password and ID are read-only credentials that allow us to securely connect to your account and monitor changes, such as your current phase progression. It's important to understand that these credentials do not grant us trading access. To maintain accurate coverage and avoid potential voiding of your Propsurance status, providing this information is mandatory.
            </p>
        </ul>


        </div>
        </div>
        </div>

        <div   class="board-cont ticket-border rate-id">
            <div class="rate-flex">
                <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                
                <div id="cover-text-div">
                <p id="rate-header">General</p>
                <p class="header-text-board">
                    What are the <span class="propsurance-color"> Payment Options?   </span>
                </p>
            
            
    
            <ul class="coverage-ul">
    
                <p class="coverage-p">
                    We currently accept and process payments through Stripe.
                </p>
            </ul>
    
    
            </div>
            </div>
            </div>


            <h2 class="stage-pass">PropSurance Users FAQ</h2>

            <div  id="" class="board-cont ticket-border rate-id">
                <div class="rate-flex">
                    <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                  
                    <div id="cover-text-div">
                    <p id="rate-header">PropSurance User</p>
                    <p class="header-text-board">
                        Current <span class="
                        propsurance-color">Coverage Rate? </span>
                    </p>
                
               
        
                <ul class="coverage-ul">
        
                    <p class="coverage-p">
                        Upon signing up, your payout coverage is initially set at <strong> 40%</strong>.  With each <strong> successful payout</strong> from a firm, your insurance rate increases by <strong> 20%</strong>. After three payouts, your <strong> insurance coverage reaches 100%</strong>. We currently limit processed payouts to a maximum of 10% of your account size at any given time; <strong> i.e $20,000 for a $20,0000 account </strong>  However, for users who have already had <strong> 3 payouts processed through Propsurance</strong>, each successful payout thereafter will incrementally increase the <u></u> maximum payout cap by 5%.
                    </p>
                </ul>
        
          
                </div>
                </div>
                </div>
        
                
            <div  id="" class="board-cont ticket-border rate-id">
                <div class="rate-flex">
                    <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                  
                    <div id="cover-text-div">
                    <p id="rate-header">PropSurance User</p>
                    <p class="header-text-board">
                         Passed  Your<span class="
                         propsurance-color"> Current Stage?</span>
                    </p>
                
               
        
                <ul class="coverage-ul">
        
                    <p class="coverage-p">
                        To maintain your Propsurance coverage, promptly update your credentials by submitting a case for "Passed Current Stage" and providing the necessary information. Failure to update your credentials promptly after being informed may result in the termination of your Propsurance benefits.
                    </p>
                </ul>
        
          
                </div>
                </div>
                </div>
        
                <div  id="" class="board-cont ticket-border rate-id">
                    <div class="rate-flex">
                        <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                      
                        <div id="cover-text-div">
                        <p id="rate-header">PropSurance User</p>
                        <p class="header-text-board">
                             Received  Your<span class="
                             propsurance-color"> Payout?</span>
                        </p>
                    
                   
            
                    <ul class="coverage-ul">
            
                        <p class="coverage-p">
                            It's important to update us after you receive a payout. Otherwise, our system may flag your account as invalid and void your PropSurance status.You can do so by opening a claim for "Received Payout" and filling out your information accordingly.
                        </p>
                    </ul>
            
              
                    </div>
                    </div>
                    </div>
        
                <div  id="" class="board-cont ticket-border rate-id">
                    <div class="rate-flex">
                        <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
        
                        <!-- <img src="{{ url_for('static', filename='images/info.png') }}" alt="info-icon" class="info-icon"> -->
                      
                        <div id="cover-text-div">
                        <p id="rate-header">PropSurance User</p>
                        <p class="header-text-board">
                             My Account Dashboard says <span class="
                             propsurance-color"> "Account Invalid"? </span>
                        </p>
                    
                   
            
                    <ul class="coverage-ul">
            
                        <ul style="padding: 0;">
                            <li class="coverage-p" style="margin-bottom: 0.5em;"> <strong  style="margin-right: 0.3em;">  -Recent Payout or Stage Completion: </strong>You may have recently received a payout or completed a stage with your prop firm & not updated the status in PropSurance Dashboard.</li>
        
                           <li class="coverage-p" style=" margin-bottom: 0.5em;">  <strong style="margin-right: 0.3em ">  -Inactive Account Update: </strong>You might not have updated your account status within <br>  two weeks from the event of the status change.</li>
        
                           <li class="coverage-p"  style=" margin-bottom: 0.5em;">  <strong style="margin-right: 0.3em;">  -How to Resolve: </strong>Open a claim through the "Account Invalid" option > Submit the necessary information promptly. </li>
                           <li class="coverage-p">  <strong style="margin-right: 0.3em;">  -Failure to Resolve Promptly: </strong>Failure to update your status after multiple attempts to reach you  may result in the suspension or termination of your Propsurance coverage.  We want to ensure your coverage remains active, so please take action promptly.</li>
                        </ul>
                    </ul>
            
            
                    </div>
                    </div>
                    </div>
        
                    <div  id="" class="board-cont ticket-border rate-id">
                        <div class="rate-flex">
                            <svg fill="#233DFF" class="info-icon" width="35px" height="35px" class="left-top" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 0 1 0-96 48.01 48.01 0 0 1 0 96z"></path> </g></svg>
                          
                            <div id="cover-text-div">
                            <p id="rate-header">PropSurance User</p>
                            <p class="header-text-board">
                                Am I still entitled to a payout if I <span class="
                                propsurance-color"> violate a firm's policy? </span>
                            </p>
                        
                       
                
                        <ul class="coverage-ul">
                
                            <p class="coverage-p">
                                Yes, however, you <strong> must</strong> have previously processed at least <strong> 3 successful payouts</strong> with us where we received the <strong> standard 5% fee </strong> from each. In this case, due to the nature of the violation, you will be entitled to a <u> <strong> 40% coverage</strong></u> on the rejected payout, rather than the usual  coverage.
                            </p>
                        </ul>
                
                  
                        </div>
                        </div>
                        </div>
                    </main>
              
            {% endblock %}