.report-card {
    display: flex;
    flex-direction: column;
    /* background-color: #F9FBFF; */
    /* border-radius: 0 60px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.report-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* background-color: #CAE8FF; */
    padding: 20px;
    color: #050A30;
    /* border-bottom: 1px solid #e0e0e0; */
    /* border-radius: 0 60px; */
}

.report-header h2 {
    font-size: 1.2em;
    margin: 0;
    background: #233DFF;
    background-color: #F1F8FF;
    color: #0c3594d1;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    /* box-shadow: 0px 10px 40px 0px rgba(109, 141, 173, 0.25); */
    border: 1px #2196f357 solid;
}

.status {
    /* background: red; */
    color: white;
    /* padding: 4px 8px; */
    /* border-radius: 5px; */
}

.report-amount {
    font-weight: bold;
}

.report-content {
    display: flex;
    padding: 20px;
    flex-flow: column nowrap;
    width: 100%;
}

.report-description {
    flex: 3;
}

.report-details {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    flex-flow: row nowrap;
    /* align-content: space-around; */
}

.tag {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    background-color: #F1F8FF !important;
    color: #0c3594d1;
}

.report-author {
    margin-top: 10px;
}

.trade-info {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    justify-content: right;
}

.report-metrics {
    /* flex: 2; */
    /* padding-left: 20px; */
    /* border-left: 1px solid #e0e0e0; */
    width: 38%;
    padding: 1em;
    border-radius: 10px;
    border: solid 1px #2196f357;
}

.metrics-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.metrics-bars .metric {
    margin-bottom: 10px;
}

.metrics-bars .metric-bar {
    background: #eee;
    height: 10px;
    width: 100%;
}

.tweet-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #F1F8FF;
    border-radius: 50%;
    border: 1px #2196f357 solid;
}

.tweet-icon #tweet-svg {
    
height: 18px;
    
/* color: #050A30; */
    
/* font-weight: bold; */
    
/* padding: 5px 10px; */
    
/* margin-right: 5px;
    border-radius: 4px; */
} 

.tweet-icon, .tag {
    margin-right: 1.8em;
    /* border: 1px #2196f357 solid; */
}

/* Adjust the .metric-bar widths based on actual metrics */
.report-padding {
    padding: 0 2em 2em 0;
    padding: 0 1em 1em 0;
    background: #1262FF;
    border-radius: 0 60px 0 30px;
    margin-bottom: 2em;
}

.report-bg {
    background-color: white;
    border-radius: 0 30px 0;
    /* border-left: 0px white solid; */
}

.prop-name-div {
    display: flex;
    flex-flow: row;
}

.trade-info span.tag {
    background: #050a30;
    border: 1px #2196f357 solid;
}

.report-description-patrol {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #2196f357;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    /* display: flex; */
    position: relative;
}

.report-description-patrol .report-description-p, .report-description-trader .report-description-p{
    font-size: 1.1em;
    color: #0c3594d1;
    font-weight: 500;
    margin-top: 0.3em;
}

.report-description-patrol span{
    font-size: 1.3em;
    color: #0C3594;
    font-weight: bold;
    display: inline-block;
    background-color: #F1F8FF;
    color: #0c3594d1;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.9em;
}


.author-name {
    margin-right: 1.6em;
} 

p.desc-prob span {
    color: #233DFF !important;
}

span.rejected-amount {
    margin-right: 1.8em;
}

.prop-patrol-icon {
    max-width: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.report-info-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1.5em;
}

.report-description-trader {
    width: 60%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
    border: solid 1px #2196f357;
}

.bottom-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

p.tag.date {
    font-size: 1.3em;
    color: #0C3594;
    font-weight: bold;
    display: inline-block;
    background-color: #F1F8FF;
    color: #0c3594d1;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

p.name {
    color: #0c3594d1;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

p.report-desc {
    font-size: 1.1em;
    color: #0c3594d1;
    font-weight: 500;
}

.metric {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    margin-top: 1em;
    justify-content: space-between;
}

.progress-container {
    width: 100%;
    background-color: #0c359442;
    /* max-height: 5p; */
    border-radius: 10px;
  }
  
  .progress-bar {
  
height: 15px;
  
background-color: #1262FF;
  
border-radius: 10px;
  }

.progress-bar.bar-1 {
    width: 12%;
}

.progress-bar.bar-2 {
    width:77%;
}

.progress-bar.bar-3 {
    width: 17%;
}
  p.name.met-label {
    margin-bottom: 0.3em;
    font-size: 1em;
    font-weight: bold;
    color: #0c3594d1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

span.percent-num {
    color: #0c3594ad;
}

.name.sepr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

span.prop-name {
    color: #0c3594ad;
    text-align: right;
}

p.name.name-header {
    text-align: center;
    margin-bottom: 1.6em;
    font-size: 1.3em;
}

h2.num-text {
    text-align: center;
}

p.name.small-header {
    color: #0c3594ad;
}

.small-header-sect {
    margin-top: 1.3em;
}

.svg-link {
    display: flex;
    align-items: center;
}

.case-header {
    text-align: left;
}


@media (max-width: 1200px) { 
    .report-description-trader {
        width: 100%;
    }

    .user-logo.prop-patrol-icon {
max-width: 25px;
    }

    .report-metrics {
        /* flex: 2; */
        /* padding-left: 20px; */
        /* border-left: 1px solid #e0e0e0; */
        width: 100%;
        margin-top: 1.5em;
        /* flex: 2; */
        /* padding-left: 20px; */
        /* border-left: 1px solid #e0e0e0; */
        width: 100%;;
    }

    
}


@media (max-width: 1100px) {
main.content-main {
    padding: 1.5em 1em;
}



}

@media (max-width: 900px) {

    .tweet-icon, .tag {
        margin-right: 0.6em;
    }

.report-header {
    display: flex;
    flex-flow: row wrap;
}

.trade-info {
    display: flex;
    flex-flow: row wrap;
    /* flex-grow: 2; */
    width: 100%;
    justify-content: left;
    margin-top: 1em;
}

}

