<p class="coverage-p shield-p-overview" style="flex-flow: row wrap; display: inline-flex; position: relative;">
    {% include "product-templates/bronze-svg.html" %}
    <span style="margin-right: 0.5em;">
        <span style="color: #0c3594d1; font-weight: bold;">Trade-</span><span style="color: #0c3594d1; font-weight: bold;">Shield Bronze</span> <span style="color: #0c35948a;">Referrals: {{affiliate_account_info.trade_shield_bronze_referrals}} </span> 
    </span>
</p>

<div class="metric">
            <p class="name met-label"><span class="percent-num">{{affiliate_account_info.trade_shield_bronze_percentage}}%</span>   <span style=" color: #0c35948a; font-weight: 500;"> Total Referrals</span></p>
            <div class="progress-container">

            <div class="progress-bar bar-1" id="myBar1" style="width: {{affiliate_account_info.trade_shield_bronze_percentage}}%">     </div>
            </div>
        </div>

     