<p class="coverage-p shield-p-overview" style="flex-flow: row wrap; display: inline-flex; position: relative; ">
    {% include "product-templates/silver-svg.html" %}
    <span style="margin-right: 0.5em;">
        <span style="color: #0c3594d1; font-weight: bold;">Trade-</span><span style="color: #0c3594d1; font-weight: bold;">Shield Silver</span> <span style="color: #0c35948a;">Referrals # 0</span> 
    </span>
</p>

<div class="metric">
            <p class="name met-label"><span class="percent-num">20%</span>  <span style=" color: #0c35948a; font-weight: 500;"> Total Referrals</span></p>
            <div class="progress-container">

            <div class="progress-bar bar-1" id="myBar1" style="width: 20%"></div>
            </div>
        </div>

    