{% extends "layout.html" %}
{% block title %}
<title>Prop Patrol - Home | Ensuring Fair Play in Prop Trading</title>
{% endblock %}

{% block css %}    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}"> {% endblock %}

{% block content %}
 

    <main class="content-main">

      <h2 class="num-text">
        Featured Reports</h2>


      

        <div class="feat-reports red-report">
          <div class="feat-reports-img">

            <img src="{{ url_for('static', filename='images/fastforex.png') }}" alt="fast forex funds logo">
          </div>

          <div class="feat-reports-text">
            <p class="name"> <span> Fast Forex Funding</span> <span class="second-name">Unresolved</span></p>
            <p class="report-description-p"> <i> <strong style="
              font-weight: 500;"> Verified </strong>  Unjustified  Declined Payout</i> at <u> Fast Forex Funding</u>.  Upon further examination of Fast Forex Funding, it became clear that no cooperation was forthcoming from their side. Consequently, we compiled a <strong> case book</strong> to meticulously document the situation.  </p>
           <p class="report-description-p"><strong style="
            font-weight: 500;"> Date Of Incident:</strong> 2024-03-07</p>
            <p class="report-description-p case-link"> <a href="{{url_for('fff_30a')}}"> <strong style="
              font-weight: 500;"> Case Book:</strong> 30A</a></p>
            <div class="report-tags">

                <span class="status tag ">$9000</span>
                <span class="status tag ">Duplicate IP's</span>
                <span class="status tag ">Closed</span>
            </div>
          </div>

        </div>

        <div class="feat-reports resolved-green">
          <div class="feat-reports-img">
    
            <img src="{{ url_for('static', filename='images/FundedNext.png') }}" alt="fast funded next funds logo">
          </div>
    
          <div class="feat-reports-text">
            <p class="name"> <span> Funded Next</span> <span class="second-name">Unresolved</span></p>
            <p class="report-description-p"> <i> <strong style="
              font-weight: 500;"> Verified </strong>  Server Error </i> at <u> Funded Next</u>.
Funded Next has cooperated with us, and we have resolved the issue with the trader. We will provide further insights as we conclude our investigation.</p>
           <p class="report-description-p"><strong style="
            font-weight: 500;"> Date Of Incident:</strong> 2024-03-13</p>
            <p class="report-description-p case-link"> <a href="{{url_for('fff_30a')}}"> <strong style="
              font-weight: 500;"> Proof of Resolution:</strong> Here</a></p>
            <!-- <p class="report-description-p case-link"> <a href="{{url_for('fff_30a')}}"> <strong style="
              font-weight: 500;"> Case Book:</strong> 30A</a></p> -->
            <div class="report-tags">
    
                <span class="status tag ">$200k</span>
                <span class="status tag ">Verified Server Error</span>
                <span class="status tag ">Resolved</span>
            </div>
          </div>
    
        </div>


        <div class="feat-reports">
          <div class="feat-reports-img">

            <img src="{{ url_for('static', filename='images/uwm.jpg') }}" alt="UWM logo">
          </div>

          <div class="feat-reports-text">
            <p class="name"> <span> Union Wealth Management</span> <span class="second-name">Unresolved</span></p>
            <p class="report-description-p"> <i> <strong style="
              font-weight: 500;"> Verified </strong>  payout denial</i> at <u>  Union Wealth Management</u>.  Union Wealth Management is currently cooperating with us, and we anticipate providing further insights as we continue our investigation.  </p>
            <p class="report-description-p"><strong style="
              font-weight: 500;"> Date Of Incident:</strong> 2024-03-05</p>
            
            <div class="report-tags">

                <!-- <span class="status tag ">$</span> -->
                <span class="status tag ">Denied Payout</span>
                <span class="status tag ">Reason: KYC</span>
                <span class="status tag ">In Progress</span>
            </div>
          </div>

        </div>

      

        <div class="feat-reports">
          <div class="feat-reports-img">

            <img src="{{ url_for('static', filename='images/bespoke.png') }}" alt="Bespoke logo">
          </div>

          <div class="feat-reports-text">
            <p class="name"> <span> Bespoke Funding Program</span> <span class="second-name">Unresolved</span></p>
            <p class="report-description-p"> <i> <strong style="
              font-weight: 500;"> Verified </strong>  Account Ban</i> at <u> Bespoke Funding Program</u>.  Further insights will follow as we examine Bespoke Funding's Perspective.  </p>
            <p class="report-description-p"><strong style="
              font-weight: 500;"> Date Of Incident:</strong> 2024-03-19</p>
            
            <div class="report-tags">

                <!-- <span class="status tag ">$</span> -->
                <span class="status tag ">Account Banned</span>
                <span class="status tag ">800k</span>
                <span class="status tag ">In Progress</span>
            </div>
          </div>

        </div>

        <div class="feat-reports">
          <div class="feat-reports-img">

            <img  id="kortana-img" src="{{ url_for('static', filename='images/kortana.png') }}" alt="kortana logo">
          </div>

          <div class="feat-reports-text">
            <p class="name"> <span> Kortana</span> <span class="second-name">Unresolved</span></p>
            <p class="report-description-p"> <i><strong style="
              font-weight: 500;"> Verified </strong> payout denial</i> at <u> Kortana</u>. Further insights will follow as we examine Kortana's Perspective.  </p>
           <p class="report-description-p"><strong style="
            font-weight: 500;"> Date Of Incident:</strong> 2024-02-01</p>
            <div class="report-tags">

                <span class="status tag ">$9195</span>
                <span class="status tag ">Duplicate IP's</span>
                <span class="status tag ">In Progress</span>
            </div>
          </div>

        </div>

        <div class="view-more-container firm-mg-top">
        <a class="visit-btn view-more" id="report-more" href="{{url_for('report_preview')}}" target="_blank">View More</a>

      </div>

      
        

      <div class="num-text-container"><div class="line-animated ">
      </div>
    
    <h2 class="num-text">
      Featured Firms</h2>
       <div class="line-animated second-line">
      </div>
    </div>


    <div class="firm-list" id="firm-link">
      <!-- Example of a single firm entry -->
      <div class="firm">
        <div class="num-rank">1</div>
        <div class="firm-detail-1 firm-details firm-sz">
          
 
              
            <div class="firm-ranking firm-pic">   <img src="{{ url_for('static', filename='images/comingsoon.png') }}" alt=""></div>
         

              <!-- <div class="firm-name ">Coming Soon</div> -->
              </div>

              <div class="firm-tags firm-sz">
                  <span class="tag preferred">Preferred</span>
                  <!-- <span class="tag trusted">MQL License</span> -->
              </div>
        
              <div class="firm-rating firm-sz">
                <img src="{{ url_for('static', filename='images/proppatrolplus.png') }}" alt="Prop Patrol Regulated">
              </div>
    
          <div class="firm-actions firm-sz">
              <a class="visit-btn" href="#" target="_blank">Visit Now</a>
              <a class="details-btn">View Details</a>
          </div>
        </div>

        <div class="firm firm-mg-top">
          <div class="num-rank">2</div>
          <div class="firm-detail-1 firm-details firm-sz">
            
   
                
              <div class="firm-ranking firm-pic">   <img src="{{ url_for('static', filename='images/comingsoon.png') }}" alt=""></div>
           
  
                <!-- <div class="firm-name ">Coming Soon</div> -->
                </div>
  
                <div class="firm-tags firm-sz">
                    <span class="tag preferred">Preferred</span>
                    <!-- <span class="tag trusted">MQL License</span> -->
                </div>
                <div class="firm-rating firm-sz">
                  <img src="{{ url_for('static', filename='images/proppatrolplus.png') }}" alt="Prop Patrol Regulated">
                </div>
      
            <div class="firm-actions firm-sz">
                <a class="visit-btn" href="#" target="_blank">Visit Now</a>
                <a class="details-btn">View Details</a>
            </div>
          </div>


          <div class="firm firm-mg-top">
            <div class="num-rank">3</div>
            <div class="firm-detail-1 firm-details firm-sz">
              
     
                  
                <div class="firm-ranking firm-pic">   <img src="{{ url_for('static', filename='images/comingsoon.png') }}" alt="Funded Next Logo"></div>
             
    
                  <!-- <div class="firm-name ">Coming Soon</div> -->
                  </div>
    
                  <div class="firm-tags firm-sz">
                      <span class="tag preferred">Preferred</span>
                      <!-- <span class="tag trusted">MQL License</span> -->
                  </div>
                  <div class="firm-rating firm-sz">
                    <img src="{{ url_for('static', filename='images/proppatrolplus.png') }}" alt="Prop Patrol Regulated">
                  </div>
        
              <div class="firm-actions firm-sz">
                  <a class="visit-btn" href="#" target="_blank">Visit Now</a>
                  <a class="details-btn">View Details</a>
              </div>
            </div>
            <div class="view-more-container firm-mg-top">

              <a class="visit-btn view-more" href="{{url_for('featured_firms')}}#fundednext-logo" target="_blank">View More</a>
            </div>

      </div>

      <!-- <main> -->

    
        

      

      <div class="num-text-container">
        <!-- <div class="line-animated "> </div> -->
    
    <h2 class="num-text" id="about-ref">
      How We Help</h2>
       <!-- <div class="line-animated second-line"></div> -->
    </div>

      <div   class="about-us">

       

        <div class="about-parts advocacy">
          <img src="{{ url_for('static', filename='images/shield.png') }}" alt="shield image">
          <div>
          <h2>Advocacy</h2>
          <a href="{{ url_for('home') }}#faq" >Learn More</a>
        </div>
        </div>

        <div class="about-parts advocacy">
          <img src="{{ url_for('static', filename='images/glass.png') }}" alt="transparency image">
          <div>
          <h2>Transparency</h2>
          <a href="{{ url_for('home') }}#faq" >Learn More</a>
        </div>
        </div>

        <div class="about-parts advocacy">
          <img src="{{ url_for('static', filename='images/check-small.png') }}" alt="check-mark">
          <div>
          <h2>Authenticity</h2>
          <a href="{{ url_for('home') }}#faq" >Learn More</a>
        </div>
        </div>


      </div>

    </main>

 
 
  
   
  




    <!-- <h2 class="num-text social-h2">
     Reach Out to Us!</h2> -->

    <div class="socials">
      <div class="social-flex">

        <a href="https://twitter.com/PropPatrol" target="_blank"> <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="twitter"></a>
        <a href="https://discord.gg/TP33BZBC" target="_blank"> <img src="{{ url_for('static', filename='images/discord.png') }}" alt="discord"></a>
        <a href="mailto:support@proppatrol.net"> <img src="{{ url_for('static', filename='images/email.png') }}" alt="email"></a>
      </div>
    </div>

        <h2 class="num-text social-h2">
          Assert Your Rights: <br> Report Your Payout Denial Now!</h2>

    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="Zt5vWQcmuUGGzNRkJbfuHQ" data-form="3"></script>


    <section id="quick-links">
      <div class="phone-container quick-links-div">
        <h2> Your Ultimate Prop Firm Navigator</h2>
        <p>Join our Discord to connect with a community that <br> help with your prop firm decisions!</p>
        <a id="discord-join" href="https://discord.gg/TP33BZBC" target="_blank">Join Now</a>
        <div>

          <img src="{{ url_for('static', filename='images/phone.png') }}" alt="phone pic">
        </div>
      </div>

      <!-- <div class="quick-links-div">
        <h2>All Your Prop Needs</h2>
        <img src="{{ url_for('static', filename='images/phone.png') }}" alt="phone picture">
      </div> -->
    </section>

    <section id="faq">
      <div class="container">
          <h2 class="num-text">Frequently Asked Questions</h2>
          <div class="faq-item">
           
              <button class="faq-question"> <div class="num-rank">Q</div>What is Prop Patrol?<span class="faq-toggle">+</span></button>
              <div class="faq-answer" style="display: none;">
                <div class="num-rank">A</div>
                  <p>Prop Patrol is a dedicated platform designed to ensure traders are well-informed and protected, offering resources for prop firm verification, dispute advocacy, and community support.</p>
              </div>
          </div>
          <div class="faq-item">
              <button class="faq-question"> <div class="num-rank">Q</div>How can I report a denied payout?<span class="faq-toggle">+</span></button>
              <div class="faq-answer" style="display: none;">
                <div class="num-rank">A</div>   <p>You can report a denied payout directly through our Payout Report system, providing details for us to advocate on your behalf.</p> 
              </div>
          </div>

          <div class="faq-item">
            <button class="faq-question"> <div class="num-rank">Q</div>What verification process does Prop Patrol use?<span class="faq-toggle">+</span></button>
            <div class="faq-answer" style="display: none;">
              <div class="num-rank">A</div>
                <p>We utilize a comprehensive verification process that includes checking regulatory compliance, financial stability, and user reviews to ensure only trustworthy prop firms are recommended.</p>
            </div>
        </div>

        <div class="faq-item">
          <button class="faq-question"> <div class="num-rank">Q</div>How often is the prop firm directory updated?<span class="faq-toggle">+</span></button>
          <div class="faq-answer" style="display: none;">
            <div class="num-rank">A</div>
              <p>Our prop firm directory is regularly updated to reflect the most current information, with reviews and new firms added monthly.</p>
          </div>
      </div>

      <div class="faq-item">
        <button class="faq-question"> <div class="num-rank">Q</div>Is there a fee to use Prop Patrol's services?<span class="faq-toggle">+</span></button>
        <div class="faq-answer" style="display: none;">
          <div class="num-rank">A</div>
            <p>Access to features on Prop Patrol is free.</p>
        </div>
    </div>

    <div class="faq-item">
      <button class="faq-question"> <div class="num-rank">Q</div>Does Prop Patrol have a community for traders?<span class="faq-toggle">+</span></button>
      <div class="faq-answer" style="display: none;">
        <div class="num-rank">A</div>
          <p>Yes, Prop Patrol boasts a vibrant community of traders on Discord. It's a space where members share insights, discuss trading strategies, and support one another in navigating the prop trading landscape. Join us to connect with fellow traders and enhance your trading journey.</p>
      </div>
  </div>

  <div class="faq-item">
    <button class="faq-question"> <div class="num-rank">Q</div>Will Prop Patrol add more features, like articles and featured reported payouts?<span class="faq-toggle">+</span></button>
    <div class="faq-answer" style="display: none;">
      <div class="num-rank">A</div>
        <p>Yes, we're constantly evolving to meet the needs of our community. Upcoming enhancements include a rich library of educational articles and a section for featured reported payouts, offering even more support and insights for our traders.</p>
    </div>
</div>

<div class="faq-item">
  <button class="faq-question"> <div class="num-rank">Q</div>What are Prop Patrol + firms?<span class="faq-toggle">+</span></button>
  <div class="faq-answer" style="display: none;">
    <div class="num-rank">A</div>
      <p>Prop Patrol+ firms are select prop firms that we closely monitor and have placed on our preferred list. These firms have demonstrated exceptional service, reliability, and trader support, meeting our stringent criteria for trader safety and satisfaction.</p>
  </div>
</div>
          <!-- Repeat the above block for each FAQ you want to include -->
      </div>
  </section>


  

{% endblock %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.faq-question').click(function() {
        var answer = $(this).next('.faq-answer');
        var toggle = $(this).find('.faq-toggle');

        // Check if the answer is already displayed as flex to toggle
        if (answer.css('display') === 'flex') {
            answer.slideUp();
            toggle.text('+');
        } else {
            answer.slideDown().css('display', 'flex');
            toggle.text('-');
        }
    });
});
</script>

{% endblock %}
