{% extends "layout.html" %}

{% block title %}
<title> Erroneous Account Flagging | Kortana FX Trading Dispute | Multiple Reports</title>{% endblock %}


{% block css %}    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}"> 

<link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}">
{% endblock %}



{% block content %}
<main class="content-main">
 
  
    <div class="container-main">

  
  <h2 class="num-text case-header">
    Case #70A</h2>

 

    <div class="report-card">
        <div class="report-padding">
    <div class="report-bg">
        <div class="report-header">
            <div class="prop-name-div">
                <h2 class="tag">Kortana FX</h2>
            </div>
            <div class="trade-info">
               <div class="tweet-icon">
              
                <a href="https://twitter.com/PropPatrol/status/1770968356180332825" target="_blank" class="svg-link">

                    <svg id="tweet-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0c3594d1" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                </div>
                <span class="report-amount tag">+42k Denied Payouts</span>
                <span class="status tag">Unresolved</span>
                <span class="report-amount tag blacklisted">Black-Listed Until Further Notice</span>
             
            </div>
        </div>
        <div class="report-content">
            <div class="report-description-patrol">
                <img class="prop-patrol-icon " src="{{ url_for('static', filename='images/propicon.png') }}" alt="user logo" />
                <p class="name">Erroneous Account Flagging | Kortana FX Trading Dispute | <strong> Six Reported Incidents</strong></p>
                <p class="name small-header">Executive Summary:</p>
                <p class="report-description-p">KortanaFX is under scrutiny for its handling of alleged IP rule violations, affecting at least six traders, with six of them reported within a week of Prop Patrol's launch.. The firm's enforcement of these rules and subsequent withholding of payouts raises questions about its adherence to fair trading practices and transparency. Traders presented server logs, VPS information, and other evidence refuting the firm's claims, yet KortanaFX's response has been marked by inconsistencies and a lack of clear communication. This situation highlights potential systemic issues within KortanaFX's operational and ethical framework, suggesting a need for a thorough review of its policies and actions.</p>
                
                <section class="small-header-sect">
                    <p class="name small-header">Incident Overview</p>
                    <p class="report-description-p">Traders experienced account flaggings for supposedly violating KortanaFX's IP management policies, leading to disputed account suspensions and withheld payouts. Despite providing evidence to support their legitimate trading activities, the traders faced vague and non-committal responses from the firm, complicating their efforts to resolve the disputes.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Presented Evidence</p>
                    <ul>
                        <li class="report-description-p"><strong>Server Logs and VPS Information:</strong> Contradicts KortanaFX's IP violation claims, supporting the traders' assertions of legitimate use.</li>
                        <li class="report-description-p"><strong>Proof of Legitimate Trading:</strong> Documentation, including wifi installation confirmations, substantiates traders' claims against alleged IP rule violations.</li>

                        <li class="report-description-p"><strong> Lack of Due Process:</strong> Reports of delayed or no feedback on account flagging, coupled with a failure to provide concrete evidence for accusations. </li>
                      
                            <li class="report-description-p"><strong> Support Failure:</strong>  Repeated instances of unresponsive customer support, exacerbating traders' inability to resolve issues.</li>
                    </ul>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Analysis</p>
                    <p class="report-description-p">The collected evidence and the firm's handling of the disputes reveal a pattern of inadequate response and potentially flawed policy enforcement by KortanaFX. The firm's inconsistency in communication and decision-making processes undermines its credibility and highlights a significant gap in ethical standards.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Response and Firm's Actions:</p>
                    <p class="report-description-p">KortanaFX's responses to the traders' disputes have varied from non-existent to evasive, demonstrating a reluctance to engage in transparent and fair resolution processes. This approach raises concerns about the firm's commitment to upholding fair trading practices and its responsibility towards its traders.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Ethical and Regulatory Concerns</p>
                    <ul>
                        <li class="report-description-p"><strong>Ethical Concerns:</strong> KortanaFX's actions raise significant ethical questions regarding transparency, fairness, and the integrity of its trading platform.</li>
                        <li class="report-description-p"><strong>Regulatory Issues:</strong> The firm's practices may potentially breach financial regulations, highlighting the need for regulatory review and potential action.</li>
                    </ul>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Professional Engagement and Legal Action:</p>
                    <p class="report-description-p">Affected traders are exploring professional advocacy and legal options to address the harm caused by KortanaFX's actions, signaling a broader concern about the firm's treatment of its client base.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Conclusion:</p>
                    <p class="report-description-p"><strong>The case against KortanaFX</strong> underscores the urgent need for the firm to reassess its IP policy enforcement, communication strategies, and ethical obligations to its traders. Without significant changes, KortanaFX risks further damage to its reputation and potential regulatory scrutiny.</p>
                </section>

                  



                <div class="report-details">
                    <span class="tag">Issue</span>
                    <span class=" tag" > Duplicate IP's</span> 
                    <span class="tag blacklisted">6 Reported Incidents</span>
                </div>
                </div>
                <div class="report-info-row">

                
            <div class="report-description-trader">
            <div class="top-desc">
     
                <img class="prop-patrol-icon user-logo" src="{{ url_for('static', filename='images/profilepic.png') }}" alt="profile icon" />
                <p class="name">From a Trader's Perspective</p>
                <ul>
                <li class="report-description-p">
                  <strong>  
                    KortanaFX's actions have been unjust and detrimental to the traders' livelihoods. </strong> They assert that the firm's enforcement of IP rules has been inconsistent and arbitrary, leading to wrongful flagging of accounts and withholding of payouts. Traders maintain that they have conducted legitimate trading activities and have provided evidence to support their claims. The lack of clear communication, delayed responses, and unresponsive customer support from KortanaFX have exacerbated their frustration and undermined their trust in the firm. They seek resolution, transparency, and fair treatment in addressing the discrepancies and restoring their rightful earnings.  </li>
                
              


            </ul>
            </ul>
            </div>

            <div class="bottom-desc">
                <p class="tag date">March 29, 2024</p>
                <div class="tweet-icon">
                  <a href="https://twitter.com/PropPatrol/status/1770968356180332825" target="_blank" class="svg-link">  <svg id="tweet-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0c3594d1" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a>
                    </div>
            </div>


               
            </div>   
                
            
            <div class="report-metrics">
                <p class="name sepr">Kortana FX<span class="prop-name">Prop Firm <br> Metrics </span></p>
           
                <div class="metrics-bars">
                    <div class="metric">
                        <p class="name met-label">Transparency <span class="percent-num"> (10%)</span></p>
                        <div class="progress-container">

                        <div class="progress-bar bar-1" id="myBar1" style="
    width: 10%;
"></div>
                        </div>
                    </div>
                    <div class="metric">
                        <p class="name met-label">Dishonesty <span class="percent-num">(85%) </span></p>
                        <div class="progress-container">
                            <div class="progress-bar bar-2" id="myBar1" style="width:95%"></div>
                          </div>
                    </div>
                    <div class="metric">
                        <p class="name met-label">Recommendation   <span class="percent-num">(0%)</span></p>
                        <div class="progress-container">
                            <div class="progress-bar bar-3" id="myBar1" style="
    width: 0%;
"></div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>


  </main>
{% endblock %}