{% extends "layout.html" %}
{% block title %}
<title>Prop Patrol |  PropSurance Application</title>
{% endblock %}

{% block seo %}
<meta name="description" content="PropSurance ensures traders receive fair payouts, offers dispute resolution, coverage and provides a layer of security against unfair practices by proprietary trading firms.">
{% endblock %}


{% block css %}  



<style>

main#payer-container-main {
    display: none !important;
}

#hero {
    display: none !important;
}



html .cog-header--center:not(.cog-header--row), :root:root:root:root:root .cog-header--center:not(.cog-header--row) {
    text-align: center;
    display: none;
}

html .cog-html *:last-child, :root:root:root:root:root .cog-html *:last-child {

color: #1800f0d9;

}

form.😉.cog-cognito.cog-form.cog-4.is-default.cog-cognito--styled.cog-form--light-background.cog-cognito--protect-css {
    border-top: 4px inset #1162ff91;
    border-right: 4px inset #0a214ca3;
    border-left: 4px inset #1162ff78;
    border-bottom: none;
    /* box-shadow: 0px 10px 40px 0px rgba(109, 141, 173, 0.25); */
    padding: 1em 2em;
    background: #fff;
    border-radius: 20px;
    font-family: "Poppins", sans-serif !important;
}

form.😉.cog-cognito p {
    text-align: center !important;
}

input#cog-input-auto-0, input#cog-input-auto-1, input#cog-1, input#cog-2, input#cog-3, input#cog-4, input#cog-5, input#cog-6, input#cog-7, input#cog-8, input#cog-0, input#cog-10, input#cog-11, input#cog-12, input#cog-13 {
    font-weight: bold;
    /* padding: 5px 10px; */
    margin-right: 5px;
    border-radius: 4px;
    /* border: 0; */
    /* font-size: 0.9em; */
    background: white;
    /* box-shadow: 0px 10px 40px 0px rgba(109, 141, 173, 0.25); */
    /* color: #050A30 !important; */
    border-color: #a7d4f6d9;
}


@media (max-width: 1100px) {
main.content-main {
    padding: 0.2em 1em;
    padding-top: 1.5em;
}
}


</style>
{% endblock %}

{% block content %}
<h2 class="num-text social-h2" style="margin-top: 1.8em !important;">
    PropSurance Application</h2>

    <main class="content-main">

        <script src="https://www.cognitoforms.com/f/seamless.js" id="propsurance-ref" data-key="Zt5vWQcmuUGGzNRkJbfuHQ" data-form="4"></script>
</main>

{% endblock %}