{% extends "layout.html" %}

{% block title %}
<title> 
  Prop Patrol | List of Firms with Closed and Resolved Reports</title>
{% endblock %}

{% block css %}    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}"> {% endblock %}


{% block content %}


<main class="content-main">


    <h2 class="num-text">
        Featured Reports</h2>
    
    
        <div class="feat-reports resolved-green">
            <div class="feat-reports-img">
      
              <img src="{{ url_for('static', filename='images/FundedNext.png') }}" alt="fast funded next funds logo">
            </div>
      
            <div class="feat-reports-text">
              <p class="name"> <span> Funded Next</span> <span class="second-name">Resolved</span></p>
              <p class="report-description-p"> <i> <strong style="
                font-weight: 500;"> Verified </strong>  Server Error </i> at <u> Funded Next</u>.
  Funded Next has cooperated with us, and we have resolved the issue with the trader. We will provide further insights as we conclude our investigation.</p>
             <p class="report-description-p"><strong style="
              font-weight: 500;"> Date Of Incident:</strong> 2024-03-13</p>
        <p class="report-description-p case-link"> <a href="#"> <strong style="
          font-weight: 500;"> </strong> 50A</a></p>
  
              <p class="report-description-p case-link"> <a href="https://twitter.com/PropPatrol/status/1772306993270653228"> <strong style="
                font-weight: 500;"> Proof of Resolution:</strong> Here</a></p>
              <!-- <p class="report-description-p case-link"> <a href="{{url_for('fff_30a')}}"> <strong style="
                font-weight: 500;"> Case Book:</strong> 30A</a></p> -->
              <div class="report-tags">
      
                  <span class="status tag ">$200k</span>
                  <span class="status tag ">Verified Server Error</span>
                  <span class="status tag ">Resolved</span>
              </div>
            </div>
      
          </div>

          
     
          </main>

          {% endblock %}