{% extends "layout.html" %}

{% block title %}
<title>Terms of Service | Prop Patrol - Legal Information</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms.css') }}">
{% endblock %} 

{% block content %}



<main class="content-term">
    <h1 id="terms">Terms of Service</h1>
    <p>Last updated: March 10, 2024</p>
    <section>
        <h2>Introduction</h2>
        <p>Welcome to our website. By accessing our site, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
    </section>
    <section>
        <h2>Use License</h2>
        <p>Permission is granted to temporarily download one copy of the materials on the website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license, you may not:</p>
        <ul>
            <li>Modify or copy the materials;</li>
            <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
            <li>Attempt to decompile or reverse engineer any software contained on the website;</li>
            <li>Remove any copyright or other proprietary notations from the materials; or</li>
            <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ul>
    </section>
    <section>
        <h2>Advocacy Authorization</h2>
        <p>By submitting a Prop Advocate request on our website, you authorize Prop Patrol to act on your behalf in advocating for or negotiating with prop firms to secure the rightful payout amounts for disputed cases. You agree to provide all necessary documentation, proof, and communication records with the prop firm regarding the rejected payout to facilitate our assessment and advocacy efforts.</p>
    </section>
    
    <section>
        <h2>Content Submission and Use</h2>
        <p>When submitting any content to our website, including but not limited to proof of communication with prop firms, documents, or any other evidence related to your dispute, you grant Prop Patrol the right to use, reproduce, and publicly display such content for the purpose of advocating on your behalf and enhancing our community-driven database of prop firm disputes. This may include publishing details of your case on our website to increase awareness and pressurize prop firms towards fair resolutions.</p>
    </section>
    
    <section>
        <h2>No Guarantee of Results</h2>
        <p>While Prop Patrol commits to making all reasonable efforts to advocate on behalf of our users, we do not guarantee a successful resolution or the recovery of any funds. The outcome of each dispute is subject to the policies of the respective prop firm and the specific circumstances of the case. Prop Patrol shall not be liable for any unsuccessful disputes or failure to recover funds.</p>
    </section>
    
    <section>
        <h2>Limitation of Liability</h2>
        <p>Prop Patrol, its employees, agents, and affiliates shall not be liable for any direct, indirect, incidental, special, or consequential damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses resulting from (i) your access to or use of or inability to access or use the website; (ii) any conduct or content of any third party on the website; (iii) any content obtained from the website; and (iv) unauthorized access, use, or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage.</p>
    </section>

    <section>
        <h2>Disclaimer</h2>
            <p> The content posted on this website, including reports, analyses, and opinions, is intended for informational purposes only. We strive to ensure the accuracy and reliability of the information provided, but we do not warrant its completeness, timeliness, or accuracy. The information on this site may contain views and opinions that do not necessarily reflect those of [Your Website's Name] or its staff. </p>
</section>

<section>

<p>All content is provided "as is" without warranty of any kind, and proppatrol.net expressly disclaims all express and implied warranties, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, or non-infringement. proppatrol.net shall not be liable for any damages, including but not limited to direct, indirect, special, incidental, or consequential damages, losses or expenses arising in connection with this site or use thereof or inability to use by any party, or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure.</p>
</section>


<section>

<p>This website may contain links to other websites which are not under the control of and are not maintained by proppatrol.net. We are not responsible for the content of those sites. proppatrol.net is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by proppatrol.net of the site.</p>
</section>


<section>
<p>The content and opinions expressed on this website are not intended to malign any religion, ethnic group, club, organization, company, or individual. Our intention is to foster discussion and bring to light various viewpoints and information that readers may find useful or interesting.</p>
</section>

<section>
    <p>Any legal disputes related to the content on this website will be governed by applicable laws and, if necessary, resolved in courts of competent jurisdiction. By accessing this website, you agree to the terms of this disclaimer.</p>
</section>
    
    <!-- Add more sections as needed -->
</main>

    
{% endblock %}