{% extends "layout.html" %}

{% block title %}
<title> Systematic Erosion of Trader Rights: An Examination of UWM's Financial and Supportive Obligations</title>{% endblock %}


{% block css %}    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}">
{% endblock %}



{% block content %}
<main class="content-main">
 
  
    <div class="container-main">

  
  <h2 class="num-text case-header">
    Case #60A</h2>

 

    <div class="report-card">
        <div class="report-padding">
    <div class="report-bg">
        <div class="report-header">
            <div class="prop-name-div">
                <h2 class="tag">Union Wealth Management</h2>
            </div>
            <div class="trade-info">
               <div class="tweet-icon">
              
                <a href="https://twitter.com/PropPatrol/status/1770782413972537653" target="_blank" class="svg-link">

                    <svg id="tweet-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0c3594d1" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                </div>
                <span class="report-amount tag">100k</span>
                <span class="status tag">Unresolved</span>
             
            </div>
        </div>
        <div class="report-content">
            <div class="report-description-patrol">
                <img class="prop-patrol-icon " src="{{ url_for('static', filename='images/propicon.png') }}" alt="user logo" />
                <p class="name">Operational Overreach | Dissecting UWM's Approaches to Trader Transactions and Disputes</p>
                <p class="name small-header">Executive Summary:</p>
                <p class="report-description-p">A comprehensive review of the case between a trader and <strong> Union Wealth Management / UWM</strong> reveals critical issues regarding delayed financial transactions, restricted account access, and shortcomings in customer service. Despite compliance with the trading platform's stipulated requirements, the trader's access to earned funds has been unjustifiably obstructed, indicating a possible breach of contract and failing to uphold standard financial regulatory practices.</p>
                
                <section class="small-header-sect">
                    <p class="name small-header">Incident Overview</p>
                    <p class="report-description-p">Upon meeting initial trading conditions, the trader encountered unexpected procedural changes and demands for additional trading activity post-platform migration, contradicting prior agreements. The trader's efforts to address these changes were met with inadequate support and communication from UWM, leading to unwarranted restrictions and access denial.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Presented Evidence</p>
                    <ul>
                        <li class="report-description-p"><strong>Documented contract terms</strong> outlining initial trading requirements and agreed payment schedules.</li>
                        <li class="report-description-p"><strong>Recorded communications</strong> evidencing the trader's proactive steps to resolve account discrepancies.</li>
                    </ul>
                </section>
                
                <section class="small-header-sect">    
                    <p class="name small-header">Analysis</p>
                    <p class="report-description-p">The investigation suggests UWM's non-compliance with established procedures and lack of proper channels for dispute resolution. This neglect raises serious concerns about the firm's dedication to trader success and transparent business practices.</p>
                </section>
                
                <section class="small-header-sect">    
                    <p class="name small-header">Response and Firm's Actions:</p>
                    <p class="report-description-p">In response to the reported incident, UWM's actions have been lacking both in corrective measures and in fostering a communicative environment, which is paramount for resolving such disputes fairly and promptly.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Ethical and Regulatory Concerns</p>
                    <ul>
                        <li class="report-description-p"><strong>Ethical Concerns:</strong> The firm's actions reflect a disregard for maintaining trust and integrity in client relations, impinging upon the trader's rights and the ethical framework within which the firm should operate.</li>
                        <li class="report-description-p"><strong>Regulatory Issues:</strong> UWM's practices, as reported, might infringe upon regulatory directives that mandate transparent financial dealings and equitable client treatment.</li>
                    </ul>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Professional Engagement and Legal Action:</p>
                    <p class="report-description-p">  <strong> Initially, UWM demonstrated a willingness to cooperate</strong>, engaging in dialogues aimed at clarifying and resolving the trader's issues. However, when critical validation was sought by the trader for specific concerns, UWM ceased communication, neglecting to address or acknowledge further inquiries. This sudden silence from UWM not only stalled the resolution process but also brought into question the firm's commitment to transparency and effective dispute management.</p>
                </section>
                
                <section class="small-header-sect">
                    <p class="name small-header">Conclusion:</p>
                    <p class="report-description-p">The case at hand elucidates UWM's need for substantial improvements in handling trader concerns and internal policy adherence. A resolution in favor of fair practices is imperative to restore confidence in UWM's services and to align with industry ethical standards.</p>
                </section>
                

                  



                <div class="report-details">
                    <span class="tag">Issue</span>
                    <span class=" tag" >  Denied Payout</span> 
                    <span class=" tag" > KYC</span> 
                </div>
                </div>
                <div class="report-info-row">

                
            <div class="report-description-trader">
            <div class="top-desc">
     
                <img class="prop-patrol-icon user-logo" src="{{ url_for('static', filename='images/profilepic.png') }}" alt="profile icon" />
                <p class="name">From an Outsider Trader's Perspective</p>
                <ul>
                <li class="report-description-p">
          <strong>   The decision to engage with a trading platform like UWM</strong>, hinges not just on the success stories but also on how challenges are navigated. As a trader, my aim is to partner with a platform where clarity, efficiency, and support are not just promised but practiced. Hearing about UWM’s complex navigation around financial obligations and support queries suggests a potential misalignment with my trading philosophy. While the quest for the ideal trading partner continues, the UWM narrative serves as a crucial reminder: the foundation of any successful trading endeavor is as much about the reliability and integrity of the platform as it is about the strategies employed.</li>
                
               


            </ul>
            </ul>
            </div>

            <div class="bottom-desc">
                <p class="tag date">March 26, 2024</p>
                <div class="tweet-icon">
                  <a href="https://twitter.com/PropPatrol/status/1770782413972537653" target="_blank" class="svg-link">  <svg id="tweet-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0c3594d1" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a>
                    </div>
            </div>


               
            </div>   
                
            
            <div class="report-metrics">
                <p class="name sepr">Union Wealth Management<span class="prop-name">Prop Firm <br> Metrics </span></p>
           
                <div class="metrics-bars">
                    <div class="metric">
                        <p class="name met-label">Transparency <span class="percent-num"> (60%)</span></p>
                        <div class="progress-container">

                        <div class="progress-bar bar-1" id="myBar1" style="
    width: 60%;
"></div>
                        </div>
                    </div>
                    <div class="metric">
                        <p class="name met-label">Dishonesty <span class="percent-num">(95%) </span></p>
                        <div class="progress-container">
                            <div class="progress-bar bar-2" id="myBar1" style="width:95%"></div>
                          </div>
                    </div>
                    <div class="metric">
                        <p class="name met-label">Recommendation   <span class="percent-num">(20%)</span></p>
                        <div class="progress-container">
                            <div class="progress-bar bar-3" id="myBar1" style="
    width: 20%;
"></div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>


  </main>
{% endblock %}